@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body 
{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
.pantallaQueBaja 
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
.pantallaQueBaja::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#afb1ae,yellow,#f80f0f, green);
  animation: animate 20s linear infinite;
  p.no-after:after{content:none;}
}
@keyframes animate 
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
.pantallaQueBaja span 
{
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}
.pantallaQueBaja span:hover 
{
  background: none;
  transition: 0s; 
}

.pantallaQueBaja .signin
{
  position: absolute;
  width: 400px;
  background: #222;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}
.pantallaQueBaja .signin .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.pantallaQueBaja .signin .content h2 
{
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
}
.pantallaQueBaja .signin .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.pantallaQueBaja .signin .content .form .inputBox
{
  position: relative;
  width: 100%;
}
.pantallaQueBaja .signin .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
.pantallaQueBaja .signin .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.signin .content .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signin .content .form .links a 
{
  color: #fff;
  text-decoration: none;
}
.signin .content .form .links a:nth-child(2)
{
  color: #0f0;
  font-weight: 600;
}
.signin .content .form .inputBox input[type="submit"]
{
  padding: 10px;
  background: #0f0;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active
{
  opacity: 0.6;
}
@media (max-width: 900px)
{
  .pantallaQueBaja span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px)
{
  .pantallaQueBaja span 
  {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}
select {
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: cursive, sans-serif;
  outline: 0;
  /*background: #0f0;*/
  color: #000;
  font-size: 14px;
  font-weight: bold;
  /*border: 1px solid rgb(0, 0, 0);*/
  padding: 5px;
  border-radius: 9px;
  width: 150px;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columna {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.fila:after {
  content: "";
  display: table;
  clear: both;
}

.Cuadrado {
  border:none;
  /*background-color: grey;*/
   outline: none;
  font-size: 50px;
  text-transform: uppercase;
  color:white;
  font-weight: bold;
  text-align: center;
}
.verde{
  background-color:green;
}
.amarillo{
  background-color: yellow;
}
.gris{
  background-color: grey;
}
.scroll-bg{
  width: 1080px;
  padding: 10px;
}
.scroll-div{
  width: 1080px;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}
.scroll-object{
  font-family: cursive;
  font-size: 15px;
}