<div>
    <table style="width: 50%; ">
        <tr>
            <td style="width: 30%; "><img  src="/img/Wordle.png" alt="" width="70%" height="70%"></td>
            <td style="width: 70%; "><h1> Administracion de Wordle</h1></td>
        </tr>          
    </table>
</div>

<br>
<div class="col-auto shadow p-3 mb-5 bg-white rounded">
    <div class="form-group">
            <button class="form-check-control btn-lg btn-primary" onclick="adminUsuarios()">Usuarios</button>
            <button class="form-check-control btn-lg btn-primary" onclick="adminPalabras()">Palabras</button>
    </div>
                    
    <table class="table">
        <div id="tablaAdmin" style="display: none">
            
        </div>    
    </table>
</div>
