<!DOCTYPE html>
<html lang="en"> 
  <head> 
  <meta charset="UTF-8"> 
  
  <script src="/js/dom.js"></script>
 </head>
 <body>
    <h1>te haz logeado bien </h1>
    <!--<h2>Bienvenido {{fullname}}</h2>
    -->
    <button onclick="logOut()"><a href="#"></a> <a href="/login"></a>Log Out</button>
 </body>
</html>