
<h3> hola rivu!</h3>

<h2>Aqui esta tu tabla:</h2>
<table style="left: blue;">
  <thead>
    <th>Usuarios</th>
    <th>password</th>
    <th>fullanme</th>
    <th>DNI</th>
  </thead>
  <tbody>
    {{#each tabla}}
      <tr>
        <td>{{this.usuario}}</td>
        <td>{{this.contraseña}}</td>
        <td>{{this.fullname}}</td>
        <td>{{this.dni}}</td>
      </tr>
    {{/each }}
  </tbody>
</table>
