<!doctype html>
<html lang="en">
    <div>
        <table style="width: 50%; ">
            <tr>
                <td style="width: 70%; "><h1>Ranking de puntuaciones</h1></td>
            </tr>          
        </table>
    </div>
    <br>
    <div class="col-auto shadow p-3 mb-5 bg-white rounded">
        <div class="form-group">
            <button class="form-check-control btn-lg btn-primary" onclick="usuarioPuntaje()">Tabla de puntuaciones</button>
        </div>       
        <table class="tabla_p">
            <div id="tablaPuntuaciones" style="display: none">
                
            </div>    
        </table>
    </div>
</html>